.dropdown-toggle.remove-arrow::after {
  display: none;
}

.dropdown-toggle.arrow-left::after {
  display: none;
}

.full-height {
  height: calc(100vh - var(--nav-height));
}

.list-style-none {
  list-style: none;
}